@import './var.scss';

.auth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 2rem;
    height: 90%;
    border-radius: 2rem;
    background: linear-gradient(rgba(39, 40, 39, 0.776) 50%, rgb(196, 202, 205) 90%);
    color: white;
    
    &-tab{
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 700;   
        color: rgb(255, 255, 255);

    }
}
.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &-logo{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 2rem;
        
    }
    &-div{
        display: flex;
        flex-direction: column;
        width: 80%;
        &-email{
            height: 3.4rem;
            margin-bottom: 1rem;
            border-radius: 10rem;
            border: 0.2px solid rgb(45, 125, 90);
            background-color: rgba(0, 0, 0, 0.297);
            &:focus{
                border: none;
                outline: none;
                color: white;
                text-align: center;
            }
            &::placeholder{
                text-align: center;
            }
        }
        &-submit{
            height: 3.4rem;
            margin-top: 2rem;
            font-weight: 700;
            background-color: rgb(45, 125, 90);
            border: none;
            color: white;
            border-radius: 10rem;
            &:focus{
                border: none;outline: none;
            }
        }
    }
    
}