
$screen-sm-max: 596px;
$screen-md-max:768px;
$screen-lg-max:992px;
$screen-xl-max:1800px;

$nav-height:6rem;
$home-height:'100vh' - $nav-height;

@mixin sm {
    @media (max-width:#{$screen-sm-max}) {
        @content;
    }
}

@mixin md {
    @media (max-width:#{$screen-md-max}) {
        @content;
    }
}

@mixin lg {
    @media (max-width:#{$screen-lg-max}) {
        @content;
    }
}
@mixin xl {
    @media (max-width:#{$screen-xl-max}) {
        @content;
    }
}
