@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 10rem;
  height: 6rem;
  background-color: white;
  box-shadow: 1rem 0.1rem 15rem black; }
  @media (max-width: 596px) {
    .navbar {
      padding-inline: 3rem; } }
  .navbar-left {
    color: #2d7d5a;
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Architects Daughter', cursive;
    text-decoration: none; }
  .navbar-right {
    font-size: 1.4rem;
    display: flex; }
    @media (max-width: 596px) {
      .navbar-right {
        display: none; } }
    .navbar-right-item {
      margin-right: 1.4rem;
      text-decoration: none;
      padding: 1rem 2rem;
      color: white;
      font-weight: 700;
      border-radius: 10rem;
      background-color: #2d7d5a; }
